<h2>Salasanan vaihto</h2>
<p>Vastaanotat tämän viestin, koska olet unohtanut salasanasi. Salasanan vaihtaaksesi käy tässä linkissä:<br>
<?php echo '<a href="http://v1.laatupuntari.fi/users/token/'.$token.'">http://v1.laatupuntari.fi/users/token/'.$token.'</a>'; ?>
</p>
