body, html {
    padding:  0px;
    margin: 0px;
    font-family: arial, tahoma;
}
.logo {
    display: block;
    height: 100px;
    width: 100%;

}
.content {
    padding:  10px;
}

.footer {
    display: block;
    text-align: center;
}

@page {
	margin-top: 0.3em;
	margin-left: 0.6em;
}