body {
    background: url('../img/background.png') no-repeat fixed;
    background-size: 100%;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0px auto;
    display: block;
    width: 1154px;
    background-color: #FFF;
    -moz-box-shadow: 0 0 50px 1px #000;
    -webkit-box-shadow: 0 0 50px 1px #000;
    box-shadow: 0 0 50px 1px #000;
}

.header {
    position: relative;
    display: block;
    text-align: right;
    list-style: none;
    height: 92px;
    width: 1134px;
    padding: 10px;
}



.top-menu {
    list-style: none;
    color: #ff9900;
    text-decoration: none;
    font-weight: bold;
}
.top-menu li {
    display: inline;
    margin-left: 15px;
}
.top-menu li a {
    color: #ff9900;
    text-decoration: none;
    font-weight: bold;
}
.top-menu li a:hover {
    color: #000;
}

#UserNameLi a {
	color:#FF580D;
}

#UserNameLi a:hover {
	color:#111111;
}

.banner {
    display: block;
    background-color: #8c8c8c;
    text-align: left;
    list-style: none;
    height: 64px;
    width: 1074px;
    padding: 10px;
    padding-left: 70px;
    color: #FFF;
    font-size: 4em;
}
.banner img {
    margin-top: 10px;
    border: 0;
}
.content {
    display: block;
    width: 1054px;
    padding: 50px;
}
.footer {
    text-align: center;
    background-color: #FFF;
    padding: 10px;
}

.orange {
    background: #ff9e3d;
    height: 116px;
    border: none;
    width: 1154px;
    margin-top: 100px;
    margin-left: -50px;
    margin-bottom: 150px;
}

.category {
    margin-top: 60px;
}

.endTitle{
	display:block;
	z-index: 9001;
	margin-top:-20px;
	margin-bottom:50px;
}

.toiminto {
    display: block;
    position: absolute;
    background:  url('../img/toiminta-icon.png') no-repeat;
    text-align: center;
    height: 200px;
    width: 263px;
    padding-top: 250px;
    text-decoration: none;
    color: #000;
    margin-left: 50px;
    margin-top: -80px;
    line-height: 2em;
}
.toiminto:hover {
    background: url('../img/toiminta-icon-with-ball.png') no-repeat;
}

.case {
    display: block;
    position: absolute;
    background:  url('../img/case-icon.png') no-repeat;
    text-align: center;
    height: 200px;
    width: 294px;
    padding-top: 250px;
    text-decoration: none;
    color: #000;
    margin-left: 450px;
    margin-top: -80px;
    line-height: 2em;
}

.case:hover {
    background: url('../img/case-icon-with-ball.png') no-repeat;
}

.opetus {
    display: block;
    position: absolute;
    background:  url('../img/opetus-icon.png') no-repeat;
    text-align: center;
    height: 200px;
    width: 260px;
    padding-top: 250px;
    text-decoration: none;
    color: #000;
    margin-left: 840px;
    margin-top: -80px;
    line-height: 2em;
}


.opetus:hover {
    background: url('../img/opetus-icon-with-ball.png') no-repeat;
}

.toiminto p, .case p, .opetus p {
    text-align: justify;
    line-height: normal;
}

.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
    text-decoration: none !important;
	color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	padding: 10px 20px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b0b0b0');
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#b0b0b0);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ffffff),
		to(#b0b0b0));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
	    0px 1px 3px rgba(000,000,000,0.5),
	    inset 0px 0px 3px rgba(255,255,255,1);
	/* This text shadow is reportedly a bit distracting.
	text-shadow:
		4px 1px 13px rgba(255,255,255,1),
		1px 2px 0px rgba(163,163,163,1);
	*/
}
.button:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#ffffff');
    background: -moz-linear-gradient(
		top,
		#b0b0b0 0%,
		#ffffff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#b0b0b0),
		to(#ffffff));
	
}

.notworking {
    opacity:0.4;
    filter:alpha(opacity=40);
}

.question .subject {
    font-size: 20px;
    font-weight: bold;
}

.center {
    text-align: center;
}
.hand {
    cursor: pointer;
}

.next {
    margin-top: 50px;
}

.hidden {
    display: none;
}

.small {
    display: inline;
    margin-right: 5px;
}

#authMessage {
	color: #FF0000;
}

.PasswordLabel {
	display:inline-block;
	width: 190px;
}

.UsernameLabel {
	display:inline-block;
	width: 190px;
}

.EmailLabel {
	display:inline-block;
	width: 190px;
}

.FeedbackLabel {
	display: inline-block;
	width: 100px;
}

.StarLabel {
	display: inline-block;
	width: 10px;
}

fieldset{
	border: 0;
	margin-top:10px;
	margin-left:-13px;
}

.zerostar {
	display:inline-block;
	width:200px;
	height:40px;
	background: url('../img/0_star.png') no-repeat;
}

.onestar {
	display:block;
	width:200px;
	height:40px;
	background: url('../img/1_star.png') no-repeat;
}

.twostar {
	display:block;
	width:200px;
	height:40px;
	background: url('../img/2_star.png') no-repeat;
}

.threestar {
	display:block;
	width:200px;
	height:40px;
	background: url('../img/3_star.png') no-repeat;
}

.fourstar {
	display:block;
	width:200px;
	height:40px;
	background:url('../img/4_star.png') no-repeat;
}

.fivestar{
	display:block;
	width:200px;
	height:40px;
	background:url('../img/5_star.png') no-repeat;
}

.feedback {
	display:inline-block;
	height:120px;
	width:100%;
}

.fbemail {
	display:block;
	width:200px;
	margin-left:5px;
}

.fbdate {
	display:block;
	width:200px;
	margin-left:5px;
}

.fbremove {
	display:block;
	margin-left:5px;
	
}

.fbremove a {
	color:#FF0000;
}

.fbtext{

}

.fbtext textarea{
	width:500px;
	height:110px;
	resize:none;
	border:0;
	background-color:#FAFAFA;
}


#UserLoginForm {
	display:block;
	width: 400px;
}

.input div{
	margin-top: 5px;
	width:400px;
}

#UserUsername {
	width: 180px;
	margin-top:5px;
}

#UserPassword {
	width: 180px;
	margin-top: 5px;
}

#UserEmail {
	width: 180px;
	margin-top: 5px;
}

#UserPasswordConfirm {
	width: 180px;
	margin-top: 5px;
}
#UserPasswordOld {
	width: 180px;
	margin-top: 5px;
}

.orange2 {
    background: #ff9e3d;
    height: 116px;
    border: none;
    width: 1154px;
    margin-top: -0px;
    margin-left: -50px;
    margin-bottom: 150px;
}


.orange {
    background: #ff9e3d;
    height: 116px;
    border: none;
    width: 1154px;
    margin-top: 100px;
    margin-left: -50px;
    margin-bottom: 150px;
}

.traffic-green {
    display: block;
    position: absolute;
    background:  url('../img/traffic.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 60px;
    margin-top: -40px;
    line-height: 2em;
    z-index:1;
    pointer-events:none;
}

.traffic-yellow {
    display: block;
    position: absolute;
    background:  url('../img/traffic.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 310px;
    margin-top: -40px;
    line-height: 2em;
    z-index:1;
    pointer-events:none;
}

.traffic-red {
    display: block;
    position: absolute;
    background:  url('../img/traffic.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 560px;
    margin-top: -40px;
    line-height: 2em;
    z-index:1;
    pointer-events:none;
}

.traffic-grey {
    display: block;
    position: absolute;
    background:  url('../img/traffic.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 810px;
    margin-top: -40px;
    line-height: 2em;
    z-index:1;
    pointer-events:none;
}

.green {
    display: block;
    position: absolute;
    background:  url('../img/green.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 60px;
    margin-top: -40px;
    line-height: 2em;
    z-index:2;
}

.yellow {
    display: block;
    position: absolute;
    background:  url('../img/yellow.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 310px;
    margin-top: -40px;
    line-height: 2em;
    z-index:2;
}

.red {
    display: block;
    position: absolute;
    background:  url('../img/red.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 560px;
    margin-top: -40px;
    line-height: 2em;
    z-index:2; 
}

.grey {
    display: block;
    position: absolute;
    background:  url('../img/white.png') no-repeat;
    height: 80px;
    width: 200px;
    padding-top: 120px;
    margin-left: 810px;
    margin-top: -40px;
    line-height: 2em;
    z-index:2; 
}

.percentagegood {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 60px;
    padding-top: 130px;
    color: #000;
    width:100px;
    margin-left: 110px;
    margin-top: -100px;
    line-height:0.65;
    pointer-events: none;
    z-index:3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.percentageok {
    display: block;
    position: absolute;
    text-align: center;
    font-size: 60px;
    padding-top: 130px;
    color: #000;
    width:100px;
    margin-left: 360px;
    margin-top: -100px;
    line-height:0.65;
    z-index:3;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background:url('transparent.png');
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='transparent.png', sizingMethod='scale');
	background-image: none !important;
	cursor: default !important;
}

.percentagebad {
    display: block;
    position: absolute;
    font-size: 60px;
    text-align: center;
    padding-top: 130px;
    color: #000;
    width:100px;
    margin-left: 610px;
    margin-top: -100px;
    line-height:0.65;
    pointer-events:none;
    z-index:3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.percentageother {
    display: block;
    position: absolute;
    font-size: 60px;
    text-align: center;
    padding-top: 130px;
    color: #000;
    width:100px;
    margin-left: 860px;
    margin-top: -100px;
    line-height:0.65;
    pointer-events:none;
    z-index:3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
