<h2> [DEBUG] All questions </h2>
<?php
	foreach($questions as $key => $val){
		echo '<h3>'.$key.'</h3>';
		foreach($val as $qKey => $qVal){
			echo $qVal['Question']['question'].'<br>';
			foreach($qVal['Answer'] as $aKey => $aVal){
				echo '- '.$aVal['value'].'<br>';
			}
			echo '<br><br>';
		}
	}


?>
