<p><strong>Kiitos osallistumisestasi!</strong></p>
<p>Vastauksesi otettiin vastaan. Linkistä pääset etusivulle.</p>
<?php echo $this->Html->link('Etusivu', '/'); ?>
<p><?php echo $this->Html->link('Haluatko antaa palautetta?', array('controller' => 'feedbacks', 'action' => 'add')); ?></p>
